#login-page{
  background-color: #4AA7EF;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color:white;

  #title{
    color:white;
    font-size: 36px;
    font-family: 'avenir';
    align-items: center;
    justify-content: center;
    vertical-align: center;
    padding: 20%;
    img{
      display: block;
      margin: 0 auto;
      padding: 20px;
    }
  }

  button{
    width: 200px;
  }

  a{
    margin-top: 10px;
    color:white;
  }
}
