<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Update Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <ion-col>

      <form (ngSubmit)="saveProfile()">
        <!-- First Name -->
        <span *ngIf="userService.type == 'individual'">
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.firstName" name="firstname"></ion-input>
          </ion-item>

          <!-- Last Name -->
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.lastName" name="lastname"></ion-input>
          </ion-item>
        </span>

        <span *ngIf="userService.type == 'organisation'">
          <ion-item>
            <ion-label stacked>Organisation Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.displayName" name="firstname"></ion-input>
          </ion-item>
        </span>

        <!-- Greeting -->
        <ion-item>
          <ion-label stacked>Greeting</ion-label>
          <ion-input type="text" [(ngModel)]="user.greeting" name="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Profile Picture</ion-label>
          <!-- <div class="circle-crop" [ngStyle]="{'background-image': 'url(' + profilePicURL + ')'}"> -->
            <div item-content>
              <img [src]="sanitizer.bypassSecurityTrustResourceUrl(profilePicURL)">
            </div>
        </ion-item>
        <input ion-input *ngIf="storageService.isUploadSupported()" (change)="fileChangeEvent($event)" id="file" type="file" accept="image/*">
        <button ion-button type="button" *ngIf="this.base64ImageData" (click)="fileUpload()">Upload Photo</button>
        <ion-item>
          <ion-label stacked>Trade Message</ion-label>
          <ion-input type="text" [(ngModel)]="user.tradeMessage" name="title"></ion-input>
        </ion-item>

        <ion-item id="auth-providers">
          <ion-label stacked>Authentication Providers</ion-label>
          <div item-content>
            <span *ngFor="let provider of providers">
              <button ion-button outline *ngIf="!provider.completed">
                <ion-icon name="{{provider.icon}}"></ion-icon>
                {{provider.displayName}}
              </button>
              <button ion-button *ngIf="provider.completed">
                <ion-icon name="{{provider.icon}}"></ion-icon>
                {{provider.displayName}}
              </button>
            </span>
          </div>
        </ion-item>
        <button ion-button type="submit" block>Save</button>


      </form>

    </ion-col>
  </ion-row>

</ion-content>
