<ion-header>
  <ion-navbar color="secondary">
    <!--<ion-title></ion-title>-->
    <ion-buttons left>
      <a menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </a>
    </ion-buttons>
    <ion-buttons right>
      <div (click)="openSearch()">
        <a icon-only>
          <ion-icon name="search"></ion-icon>
        </a>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="home-content">

  <span ion-fixed class="home-fixed" style="">

    <div class="home-pic">
      <div class="circle-crop"
        [ngStyle]="{'background-image': 'url(' + user?.profilePicURL + ')'}">
      </div>

      <div class="user-name">
        {{user?.displayName}}
      </div>

      <div>{{user?.greeting}}</div>

      <div class="balance">
        {{user?.balance}} css
      </div>
    </div>

    <!-- segment btns -->
    <div class="segment-btns">
      <ion-segment [(ngModel)]="selectedView" color="primary">
        <ion-segment-button class="offer-segment-button" value="network" (ionSelect)="selectNetwork()">
          Network
        </ion-segment-button>
        <ion-segment-button class="offer-segment-button" value="news" (ionSelect)="selectNews()">
          News
        </ion-segment-button>
        <ion-segment-button class="offer-segment-button" value="validators" (ionSelect)="selectValidators()">
          Validators
        </ion-segment-button>
      </ion-segment>
    </div>

    <div id="balance-detail" *ngIf="userService.type == 'organisation'">
      <div class="received">
        <h1>Circles Received</h1>
        <h2>0</h2>
      </div>
      <div class="sent">
        <h1>Circles Sent</h1>
        <h2>0</h2>
      </div>
    </div>
    <div id="balance-detail" *ngIf="userService.type == 'individual'">
      <div class="received">
        <h1>My Coins Balance</h1>
        <h2>{{myCoinBalance}} {{myCoinName}}</h2>
      </div>
      <div class="sent">
        <h1>All Coins Balance</h1>
        <h2>{{allCoinBalance}} Circles</h2>
      </div>
    </div>

    <ion-content
      overflow-scroll="true" class="scrolling-list" (scroll)="onScrollList($event)">

      <!-- NETWORK LIST -->
      <span *ngIf="selectedView == 'network'">
        <ion-item *ngFor="let networkUser of userService.trustedUsersNetwork" (click)="goToUserDetail(networkUser)">
          <ion-avatar style="width:48px;height:48px" item-left>
            <img src="{{networkUser.profilePicURL}}">
          </ion-avatar>
          <ion-icon *ngIf="networkUser.networkType == 'direct'" item-start name="{{networkUser.icon}}"></ion-icon>
          <ion-avatar *ngIf="networkUser.networkType == 'validator'" item-start>
            <img src="{{networkUser.image}}">
          </ion-avatar>
          <h2>{{networkUser.displayName}}</h2>
          <p>{{networkUser.greeting}}</p>
        </ion-item>
        <!-- placeholder text -->
        <div *ngIf="userService.trustedUsersNetwork.length == 0" class="disclaimer">
          There's nobody in your network...yet!<br>
          Tap the search icon <ion-icon name="search"></ion-icon> in the top-right of the screen to build your network.
        </div>
      </span>

      <!-- NEWS LIST -->
      <span *ngIf="selectedView == 'news'">
        <news-card [newsItem]="newsItem" *ngFor="let newsItem of newsService.allnewsItemsReversed$ | async"></news-card>
      </span>

      <!-- VALIDATORS list -->
      <span *ngIf="selectedView == 'validators'">
        <ion-item *ngFor="let validator of validatorService.userValidators" (click)="goToValidatorDetail(validator)">
          <ion-avatar style="width:48px;height:48px" item-left>
            <img src="{{validator?.profilePicURL}}">
          </ion-avatar>
          <h2>{{validator?.displayName}}</h2>
          <p>{{validator?.description}}</p>
        </ion-item>
        <!-- placeholder text -->
        <div *ngIf="validatorService.userValidators.length == 0" class="disclaimer">
          Nobody has validated you yet.<br>
          Tap the search icon <ion-icon name="search"></ion-icon> in the top-right of the screen to build your network.
        </div>
      </span>
    </ion-content>

  </span>

</ion-content>
